<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include blog_header.html %}

        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.time }},  发表于 <span>{{ page.location }}</span>
                </p>
                <p class="article-hint">
                    如果你对本文有任何的建议或者疑问, 可以在
                    <a href="https://github.com/shadowJF/shadowjf.github.com/issues/" target="_blank">这里给我提 Issues</a>, 谢谢! :)
                </p>
            </header>
            {{ content }}
			
			<input type="text" id="identifier" value={{ page.title }} hidden />
			<input type="text" id="url" value={{site.url}}{{page.url}} hidden />
			
			<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = document.getElementById("url").value;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = document.getElementById("text").value; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//shadowjf.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			
            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>

</html>
